<!doctype html>
<html lang="en">

<head>
  <title>Vowel Counter</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- css link -->
  <link rel="styling.css" href="{{ url_for('static',filename='styling.css')}}">

</head>

<body>
    <div class="container">
        <form method="POST">
            <label for="sentence">Enter a sentence:</label>
            <input type="text" id="sentence" name="sentence" required>
            <button type="submit">Count Vowels</button>
        </form>
        {% if counts %} 
        <div class="results">
            <h2>Vowel Counts: </h2>
            {% for vowel in vowel, count in counts.items() %}
            <p> {{ vowel }}: {{ count }}</p>
            {% endfor %} 
        </div>
        {{% endif %}}
    </div>
  
</body>

</html>